body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border: #998e8d solid 1px;
    border-radius: 15px; 
  }

  .time-display-box {
    text-align: center;
  }

  .event-block {
      margin: 0%;
  }

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    width: 80%; 
    margin: 0% 10%;
  }

  h6 {
      margin: 0% auto;
  }
  
  .row {
    white-space: pre-wrap;
    height: min-content;
    border-top: 1px solid white;
    margin: 1% auto;
  }


  .icon-container {
      text-align: center;
  }

  .fa-save {
      min-width: 90%;
      margin: 0% auto;
  }

  .save-text {
      margin-top: 0%;
      margin-bottom: 0%;
  }

  .save-button {
      height: min-content;
  }

  .save-button {
      border: #999091 solid 0.5px;
      border-radius: 5%;
  }

  .save-button:hover {
      background: rgba(35, 196, 108, 0.7);
  }
  

  
